
<link rel="stylesheet" href="public/css/style.css">

<% if (!photos) { %>
    <h3>You Have No Photos</h3>
<% } else { %>
    <% photos.forEach(function(photo) { %>
        <section>
            <div id="images">
            <img src="<%= photo.url %>" alt="">
            </div>
            <div id="info">
            <p><%= photo.description %> </p>
            <p><%= photo.name %> </p>
            </div>
            <form method="POST" action="/photo/<%= photo.id %>/?_method=DELETE">
                <input type="submit" value="DELETE">
            </form>
            <button>
                <a href="/photo/<%= photo.id %>/edit">Edit</a>
            </button>
        </section>
   <% }) %>

<% } %>
